workflow/resumeiq_workflow.json
{
  "name": "ResumeIQ",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Resume",
        "formDescription": "Thanks for your interest.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name"
            },
            {
              "fieldLabel": "Email"
            },
            {
              "fieldLabel": "Your Resume",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "d56906c2-7167-4eaf-97b9-90784871eb78",
      "name": "On form submission",
      "webhookId": "your ID"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Your_Resume",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        176,
        224
      ],
      "id": "e746c0bc-1e51-4bda-bf74-ab8f78d3f949",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "40da83ae-fd6f-4368-839e-388c063e592c",
              "name": "Prompt",
              "value": "=You are an expert recruiter. Analyse the resume below and provide:\n\n1. Fit Score (out of 10)\n2. Top 3 Strengths\n3. Key Concerns or Gaps\n4. Final Verdict: Hire / Maybe / No Hire\n5. A 2-line summary for the recruiter\n\nResume Text:\n{{ $json.text }}\nRespond ONLY with a raw JSON object using exactly these keys:\n{\n  \"FitScore\": <number 0-10>,\n  \"TopStrengths\": [<string>, <string>, <string>],\n  \"KeyConcernsOrGaps\": [<string>, <string>],\n  \"FinalVerdict\": \"<Hire | Maybe | No Hire>\",\n  \"Summary\": \"<2 sentence summary>\"\n}\nNo markdown. No code fences. Start with { and end with }.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        0
      ],
      "id": "f9b24d6b-ac20-48e1-999e-780e51a24184",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a professional recruiter. \nRespond ONLY with a raw JSON object. \nNo markdown. No code fences. No backticks. No explanation. \nStart your response directly with { and end with }."
            },
            {
              "content": "={{ $json.Prompt }}"
            }
          ]
        },
        "simplify": false,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        512,
        224
      ],
      "id": "cd1738e5-08d7-4d49-a081-25a0bbcae088",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "Your ID",
          "name": "API Name"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "=Your Resume Analysis Result —  {{ $('On form submission').item.json.Name }}",
        "message": "=<p>Hi {{ $('On form submission').item.json.Name }} ,</p>\n\n<p>Thank you for submitting your resume. Here is your personalised analysis:</p>\n\n<hr/>\n{{ $json.formattedEmail }}\n<hr/>\n\n<p>We will be in touch if we'd like to move forward.</p>\n<p>Best regards,<br/>Priyanshu, IIEST, Shibpur</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1008,
        224
      ],
      "id": "98daa51a-48a7-4a69-99ca-f5e8395dde8a",
      "name": "Send a message",
      "webhookId": "72577d92-9c26-4fc9-b621-adf5117152a0",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL ID",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let raw = $input.first().json.output[0].content[0].text;\n\n// Strip markdown fences just in case\nraw = raw.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/```\\s*$/i, '').trim();\n\nlet data;\ntry {\n  data = JSON.parse(raw);\n} catch(e) {\n  return [{ json: { formattedEmail: '<p>Error parsing response.</p>', fitScore: 'N/A', verdict: 'N/A' } }];\n}\n\n// Exact keys matching your OpenAI output\nconst fitScore = data[\"FitScore\"] ?? 'N/A';\nconst strengths = Array.isArray(data[\"TopStrengths\"]) ? data[\"TopStrengths\"] : [];\nconst concerns = Array.isArray(data[\"KeyConcernsOrGaps\"]) ? data[\"KeyConcernsOrGaps\"] : [];\nconst verdict = data[\"FinalVerdict\"] ?? 'N/A';\nconst summary = data[\"Summary\"] ?? '';\n\nconst verdictFormatted = verdict === 'Hire'\n  ? '✅ Hire'\n  : verdict === 'Maybe'\n  ? '⚠️ Maybe'\n  : verdict === 'No Hire'\n  ? '❌ No Hire'\n  : verdict;\n\nconst strengthsHtml = strengths.length\n  ? strengths.map(s => `<li style=\"margin-bottom:6px;\">${s}</li>`).join('')\n  : '<li>No strengths listed</li>';\n\nconst concernsHtml = concerns.length\n  ? concerns.map(c => `<li style=\"margin-bottom:6px;\">${c}</li>`).join('')\n  : '<li>No concerns listed</li>';\n\nconst html = `\n<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: auto; padding: 24px; border: 1px solid #e0e0e0; border-radius: 8px;\">\n\n  <h2 style=\"color: #2c3e50; margin-bottom: 20px;\">Resume Analysis Result</h2>\n\n  <div style=\"background: #f4f6f8; padding: 16px; border-radius: 6px; margin-bottom: 16px;\">\n    <h3 style=\"margin: 0 0 4px 0; color: #555; font-size: 14px; text-transform: uppercase;\">Fit Score</h3>\n    <p style=\"font-size: 32px; font-weight: bold; margin: 0; color: #2c3e50;\">${fitScore} <span style=\"font-size: 16px; color: #888;\">/ 10</span></p>\n  </div>\n\n  <div style=\"margin-bottom: 16px;\">\n    <h3 style=\"color: #27ae60; margin-bottom: 8px;\">Top Strengths</h3>\n    <ul style=\"line-height: 1.8; color: #333; padding-left: 20px;\">${strengthsHtml}</ul>\n  </div>\n\n  <div style=\"margin-bottom: 16px;\">\n    <h3 style=\"color: #e67e22; margin-bottom: 8px;\">Key Concerns</h3>\n    <ul style=\"line-height: 1.8; color: #333; padding-left: 20px;\">${concernsHtml}</ul>\n  </div>\n\n  <div style=\"background: #f4f6f8; padding: 16px; border-radius: 6px; margin-bottom: 16px;\">\n    <h3 style=\"margin: 0 0 8px 0; color: #555; font-size: 14px; text-transform: uppercase;\">Final Verdict</h3>\n    <p style=\"font-size: 22px; font-weight: bold; margin: 0;\">${verdictFormatted}</p>\n  </div>\n\n  <div style=\"border-left: 4px solid #3498db; padding: 12px 16px; background: #f0f7ff; border-radius: 0 6px 6px 0;\">\n    <h3 style=\"margin: 0 0 6px 0; color: #3498db; font-size: 14px; text-transform: uppercase;\">Summary</h3>\n    <p style=\"margin: 0; line-height: 1.7; color: #444;\">${summary}</p>\n  </div>\n\n</div>\n`;\n\nreturn [{ json: { formattedEmail: html, fitScore, verdict } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        0
      ],
      "id": "d7f0dac5-3db5-47fa-b378-5cce5b9ae2f4",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f2763e2f-65bd-4245-8477-6e4d22becd23",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "21a61ffbf78751d1d0efddbc934565466beae5750b27404d017e493a64ee2176"
  },
  "id": "F9dN2eSYngLLaP4b",
  "tags": []
}
